<section class="d-flex justify-content-center">
    <form class="card shadow p-5" [formGroup]="usersForm" (ngSubmit)="getDataForm()">
        <input type="hidden" formControlName="_id"> <!-- campo oculto para el id en actualizar -->
        <!-- apartado nombre usuario -->
        <div class="mt-3">
            <label for="first_name" class="form-label text-primary fw-semibold">Nombre Usuario</label>
            <input type="text" id="first_name" class="form-control" placeholder="Introduzca nombre de usuario" formControlName="first_name">
            @if(usersForm.get('first_name')?.invalid && usersForm.get('first_name')?.touched){
                <div class="text-danger">El nombre es requerido y debe tener entre 3 y 20 caracteres</div>
            }
        </div>
        <!-- apartado apellido usuario -->
        <div class="mt-3">
            <label for="last_name" class="form-label text-primary fw-semibold">Apellido Usuario</label>
            <input type="text" id="last_name" class="form-control" placeholder="Introduzca apellido de usuario" formControlName="last_name">
            @if(usersForm.get('last_name')?.invalid && usersForm.get('last_name')?.touched){
                <div class="text-danger">El apellido es requerido y debe tener entre 3 y 20 caracteres</div>
            }
        </div>
         <!-- apartado email usuario -->
        <div class="mt-3">
            <label for="email" class="form-label text-primary fw-semibold">Email Usuario</label>
            <input type="text" id="email" class="form-control" placeholder="Introduzca email de usuario" formControlName="email">
            @if(usersForm.get('email')?.invalid && usersForm.get('email')?.touched){
                <div class="text-danger">Introduce un email válido</div>
            }
        </div>
        <!-- apartado imagen usuario -->
        <div class="mt-3">
            <label for="image" class="form-label text-primary fw-semibold">Imagen Usuario</label>
            <input type="text" id="image" class="form-control" placeholder="Introduzca url de foto de usuario" formControlName="image">
            @if(usersForm.get('image')?.invalid && usersForm.get('image')?.touched){
                <div class="text-danger">La URL de la imagen es requerida y debe ser válida</div>
            }
        </div>
         <!-- apartado username usuario -->
        <div class="mt-3">
            <label for="username" class="form-label text-primary fw-semibold">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Introduzca username de usuario" formControlName="username">
            @if(usersForm.get('username')?.invalid && usersForm.get('username')?.touched){
                <div class="text-danger">El username es requerido y debe tener como mínimo 6 caracteres</div>
            }
        </div>
        <!-- apartado password usuario -->
        <div class="mt-3">
            <label for="password" class="form-label text-primary fw-medium">Password</label>
            <input type="text" id="password" class="form-control" placeholder="Introduzca password de usuario" formControlName="password">
            @if(usersForm.get('password')?.invalid && usersForm.get('password')?.touched){
                <div class="text-danger">La contraseña es requerida y debe tener entre 6 y 15 caracteres</div>
            }
        </div>

        <!-- botones -->
        <div class="d-flex gap-2 mt-4">
            @if (isUpdate) {
                <input type="submit" value="Actualizar" class="btn btn-outline-danger fw-semibold btn-sm"
                [disabled]="!usersForm.valid">
            } @else {
                <input type="submit" value="Guardar" class="btn btn-outline-danger fw-semibold btn-sm"
                [disabled]="!usersForm.valid">
            }
            <div>
                <a [routerLink]="['/home']" class="btn btn-outline-primary fw-semibold btn-sm">Volver</a>
            </div>
        </div>
    </form>
</section>