<section class="container center">
    <div class="card shadow p-5">
        <div class="row center">
            <div class="card-image col-12 col-md-4 text-center">
                <img [src]="myUser.image" class="card-img img-fluid rounded-circle" [alt]="myUser.username || 'User image'"
                    aria-hidden="true">
            </div>
            <div class="card-body col-12 col-md-8">
                <div>
                    <h3 class="color-blue fw-bold">{{myUser.first_name}}</h3>
                    <h3 class="color-blue fw-bold">{{myUser.last_name}}</h3>
                </div>
                <div class="fw-medium my-5">
                    <p><strong class="text-primary">Nombre Usuario: </strong>{{myUser.username}}</p>
                    <p><strong class="text-primary">Email: </strong>{{myUser.email}}</p>
                </div>
                <app-botonera [parent]="'view'" [_id]="myUser._id" class="justify-content-start"></app-botonera>
            </div>
        </div>
    </div>
</section>